.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .cardContainer {
    width: calc(100% - 80px);
    overflow: hidden;
  }
  
  .cardWrapper {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .card {
    background-color: #2D9CDB;
    color: rgb(176, 46, 46);
    border-radius: 8px;
    padding: 20px;
    min-width: calc(50% - 10px);
    margin-right: 20px;
    box-sizing: border-box;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
    
    .cardContainer {
      width: 100%;
    }
    
    .card {
      min-width: 100%;
    }
  }